{% extends 'base.html' %}
{% block title %}
    Delete Account
{% endblock %}
{% block content %}
    <a class="h6 mb-5 text-gray-800" href="{% url 'account_settings' %}">
        Account Settings
    </a>
    <i class="fa fa-angle-right fa-sm text-primary mx-1"></i>
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-3">
        <h1 class="h3 mb-0 text-gray-800">
            Change Password
        </h1>
    </div>
    <div class="col-md-6" id="panel">
        {% for field in form %}
            {% for error in field.errors %}
                <p style="color:red;">
                    {{error}}
                </p>
            {% endfor %}
        {% endfor %}
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="userpassword">
                    Old Password
                </label>
                <div class="input-group mb-3">
                    <input name="old_password" class="form-control" type="password" id="id_old_password" placeholder="Old Password" required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="userpassword">
                    New Password
                </label>
                <div class="input-group mb-3">
                    <input name="new_password1" class="form-control" type="password" id="id_new_password1" placeholder="New Password" required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="userpassword">
                    Re-enter Password
                </label>
                <div class="input-group mb-3">
                    <input name="new_password2" class="form-control" type="password" id="id_new_password2" placeholder="Confirm Password" required="true">
                </div>
            </div>
            <div class="row justify-content-around mt-5">
                <div class="col-md-4">
                    <a href="{% url 'account_settings' %}" class="btn btn-outline-primary btn-block waves-effect waves-light">
                        Cancel
                    </a>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}