{% extends 'authentication/loginBase.html' %}
{% load static %}
{% block content %}
    <div class="card col-md-6 align-self-center" style="height: 400px!important;">
        <div class="col-12 col-md-10 my-auto align-self-center">
            <h2>
                Log In
            </h2>
            <form method="POST">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div style="color:red;">
                                {{ message|safe }}
                            </div>
                        {% else %}
                            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">
                                {{ message|safe }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% for field in login_form %}
                    {% for error in field.errors %}
                        <p style="color:red;">
                            {{error}}
                        </p>
                    {% endfor %}
                {% endfor %}
                <div class="form-group">
                    <label for="username">
                        Email ID
                    </label>
                    <p>
                        {{ login_form.username}}
                    </p>
                </div>
                <div class="form-group">
                    <label for="userpassword">
                        Password
                    </label>
                    <p >
                        {{ login_form.password}}
                    </p>
                </div>
                <!--end form-group-->
                <div class="form-group mb-0 row">
                    <div class="col-12 mt-2">
                        <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">
                            Continue
                        </button>
                    </div>
                </div>
                <h6 style="text-align:center">
                    Don't have an account?
                    <a href="{% url 'authentication:register' %}" class="text-primary">
                        Sign Up
                    </a>
                </h6>
            </form>
        </div>
    </div>
{% endblock %}
