{% extends 'base.html' %}
{% load static %}

{% block title %} Select Preference {% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            Vaccination Tracker
        </h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="vaccination_status">
                        Vaccination Status
                    </label>
                    <p>
                        {{ status_form.vaccination_status }}
                    </p>
                    {% for error in status_form.vaccination_status.errors %}
                        <p style="color:red;">
                            {{error}}
                        </p>
                    {% endfor %}
                </div>
                <!-- end of form group -->
                {% if preference.file %}
                    <a href="{{ preference.file.url }}" download class="my-2" id="download-cert">
                        {{ preference.file.url|slice:"19:" }}
                    </a>
                {% endif %}
                <div class="form-group input-group mb-3" id="vax" style="display: none">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload Certificate</span>
                    </div>
                    <p class="custom-file">
                        <label class="custom-file-label" for="file">
                            Choose file
                        </label>
                        {{ status_form.file }}
                    </p>
                    {% for error in status_form.file.errors %}
                        <p style="color:red;">
                            {{error}}
                        </p>
                    {% endfor %}
                </div>
                <!-- end of form group -->
                <div class="form-group">
                    <label for="mode">
                        Preferred mode of class
                    </label>
                    <p>
                        {{ status_form.mode }}
                    </p>
                    {% for error in status_form.mode.errors %}
                        <p style="color:red;">
                            {{error}}
                        </p>
                    {% endfor %}
                </div>
                <!-- end of form group -->
                <div class="form-group mb-0 row">
                    <div class="col-12 mt-2">
                        <button class="btn btn-primary  btn-block waves-effect waves-light" type="submit" id="update">
                            Update Preference
                        </button>
                    </div>
                </div>
                <!-- end of form group -->
            </form>
        </div>
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow py-4 d-sm-flex align-items-center justify-content-between mb-4">
                <h5 class="mx-5 py-3">
                    Get your vaccination shots and win free credits!
                </h5>
                <img class="card-img-top mx-auto d-block p-5" src="{% static 'undraw_social_distancing_2g0u.svg' %}" alt="an image">
            </div>    
        </div>
    </div>
    <script>
        $('#id_vaccination_status').on('change', function () {
            if (this.options[this.selectedIndex].text !== 'Not Vaccinated')
                $('#vax').show();
            else
                $('#vax').hide();
        })
        if ("{{ preference.file }}"){
            $('#update').prop('disabled', true);
            $('#id_vaccination_status').on('change', function () {
                if (this.options[this.selectedIndex].text !== 'Not Vaccinated')
                    $('#vax').show();
                else
                    $('#vax').hide();
                $('#update').prop('disabled', false);
            })
            $('#id_mode').on('change', function () {
                $('#update').prop('disabled', false);
            })
        }
    </script>
    

{% endblock %}