<form
        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input id="search_here" name="query" type="text" class="form-control bg-light border-0 small" placeholder="Search for..." value='{{ request.GET.query }}'
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                {% for item in object_list %}
                    <b>{{item}}</b><br>
                {% endfor %}
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- <script>
        const data = '{{qs_json}}'
        const rdata = JSON.parse(data.replace(/&quot;/g, '"'))
        const input = document.getElementById('search_here')

        let filteredArr = []

        input.addEventListener('keyup', (e)=>{
            box.innerHTML = ""
            filteredArr = rdata.filter(item=> item['name'].includes(e.target.value))

            if(filteredArr.length > 0){
                filteredArr.map(item=>{
                    box.innerHTML += `<b>${item['name']}</b><br>`
                })
            }
            else{
                box.innerHTML = "<b>No results found...</b>"
            }
        })
    </script> -->