{% extends 'homeBase.html' %}
{% load static %}
{% block form %}
    <div class="col-6 align-self-center">
       <div class="col-10 align-self-center">
           <form method="POST">
               {% csrf_token %}
               <div class="form-group">
                   <h2 style="text-align: center;">
                       Password Reset Successful
                   </h2>
               </div>
               <div class="form-group mb-0 row">
                   <div class="col-12 mt-2">
                       <a href="{% url 'users:login' %}" class="btn btn-primary" style="width: 100%;" type="button">
                           BACK TO LOGIN
                       </a>
                   </div>
               </div>
           </form>
       </div>
   </div>
{% endblock %}
{% block image %}
    <div class="col-6">
       <img class=" img-responsive"  src="{% static 'images/resetSuccess.png' %}">
   </div>
{% endblock %}
