{% extends 'homeBase.html' %}
{% load static %}
{% block form %}
    <div class="col-6 align-self-center">
        <div class="col-10 align-self-center">
            <h2>
                Set New Password
            </h2>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p style="color:red;">
                            {{error}}
                        </p>
                    {% endfor %}
                {% endfor %}
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}
                <div class="form-group">
                    <label for="userpassword">
                        New Password
                    </label>
                    <div class="input-group mb-3">
                        <input name="new_password1" class="form-control" type="password" id="id_new_password1" placeholder="New Password" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="userpassword">
                        Re-enter Password
                    </label>
                    <div class="input-group mb-3">
                        <input name="new_password2" class="form-control" type="password" id="id_new_password2" placeholder="Confirm Password" required="true">
                    </div>
                </div>
                <div class="form-group mb-0 row">
                    <div class="col-12 mt-2">
                        <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">
                            RESET PASSWORD
                        </button>
                    </div>
                </div>
                <h6 style="text-align:center">
                    <span class="text-primary">
                        Back to Log In
                    </span>
                </h6>
            </form>
        </div>
    </div>
{% endblock %}
{% block image %}
    <div class="col-6">
        <img class="home-image" src="{% static 'images/setPassword.png' %}">
    </div>
{% endblock %}
