{% extends 'homeBase.html' %}
{% load static %}
{% block form %}
    <div class="col-6 align-self-center">
        <div class="col-10 align-self-center">
            <h2>Reset Password</h2>
            <form method="POST" class="form-signin">
                {% csrf_token %}
                {% for field in login_form %}
                    {% for error in field.errors %}
                        <p style="color:red;">{{error}}</p>
                    {% endfor %}
                {% endfor %}
                {% if login_form.non_field_errors %}
                    {{ login_form.non_field_errors }}
                {% endif %}
                <div class="form-group">
                    <label class=" text-danger" for="username">
                        To reset your password, please use the form below. We’ll send you an email with a link to reset your password.
                    </label>
                </div>
                <div class="form-group">
                    <label for="emailid">
                        Email ID
                    </label>
                    <div class="input-group mb-3">
                        <input name="email" type="email" class="form-control" id="id_email" placeholder="Enter email ID" required="true">
                    </div>
                </div>
                <div class="form-group mb-0 row">
                    <div class="col-12 mt-2">
                        <button class="btn btn-primary  btn-block waves-effect waves-light" type="submit">
                            SEND LINK
                        </button>
                    </div>
                </div>
                <div class="login-link">
                    <a href="{% url 'users:login' %}">
                        BACK TO LOGIN
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block image %}
    <div class="col-6">
        <img class=" img-responsive" src="{% static 'images/resetPassword.png' %}">
    </div>
{% endblock %}
